{% extends "layout.html" %} {% block body %}
  <div class="mb-4">
    <div class="flex gap-20">
      <p class="text-2xl text-black dark:text-white font-bold">X</p>
      <p class="text-2xl text-black dark:text-white font-bold">Y</p>
    </div>
    <div class="flex gap-8">
      <div id="xScores" class="text-2xl font-bold"></div>
      <div>---</div>
      <div id="yScores" class="text-2xl font-bold"></div>
    </div>
  </div>
  
  <div id="boardContainer" class="w-max grid grid-cols-3 gap-2 dark:text-white text-dark md:w-max">
    
    <button 
      class="cells w-20 h-20 flex justify-center items-center p-2 rounded border-2 border-green-600 bg-transparent text-xl "
      id="cell_0"
    ></button>
    <button 
      class="cells w-20 h-20 flex justify-center items-center p-2 rounded border-2 border-green-600 bg-transparent text-xl "
      id="cell_1"
    ></button>
    <button 
      class="cells w-20 h-20 flex justify-center items-center p-2 rounded border-2 border-green-600 bg-transparent text-xl "
      id="cell_2"
    ></button>
    
    <button 
      class="cells w-20 h-20 flex justify-center items-center p-2 rounded border-2 border-green-600 bg-transparent text-xl "
      id="cell_3"
    ></button>
    <button 
      class="cells w-20 h-20 flex justify-center items-center p-2 rounded border-2 border-green-600 bg-transparent text-xl "
      id="cell_4"
    ></button>
    <button 
      class="cells w-20 h-20 flex justify-center items-center p-2 rounded border-2 border-green-600 bg-transparent text-xl "
      id="cell_5"
    ></button>
    
    <button 
      class="cells w-20 h-20 flex justify-center items-center p-2 rounded border-2 border-green-600 bg-transparent text-xl "
      id="cell_6"
    ></button>
    <button 
      class="cells w-20 h-20 flex justify-center items-center p-2 rounded border-2 border-green-600 bg-transparent text-xl "
      id="cell_7"
    ></button>
    <button 
      class="cells w-20 h-20 flex justify-center items-center p-2 rounded border-2 border-green-600 bg-transparent text-xl "
      id="cell_8"
    ></button>
  </div>

  <p id="comment" class="text-yellow-800 font-bold text-md mt-4"></p>
  <button id="restartButton" onclick="restartGame()">Play Again</button>

  <div class="W-90 flex justify-center items-center">
    <ul id="messages" class="flex-col w-4/5 absolute bg-green-50 dark:bg-zinc-900 border-green-600 rounded-md overflow-y-scroll transition-all text-black dark:text-white text-lg md:w-2/4 mb-8 md:mb-0"></ul>
    <form id="form" class="absolute bottom-4 w-4/5 bg-green-600 h-max p-4 rounded-md flex justify-between items-center md:w-2/4">
      <input type="text" name="input" id="input" class="w-3/4 bg-transparent focus:outline-none outline-none" placeholder="Chat..."/>

      <div class="w-max flex gap-6">
        <button type="submit">
          <svg viewBox="0 0 24 24" width="30" height="30">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path fill="#fff" d="M2.01 21 23 12 2.01 3 2 10l15 2-15 2z"></path>
          </svg>
        </button>

        <button onclick="showChat()">
          <svg viewBox="0 0 24 24" width="30" height="30">
            <path fill="none" d="M0 0h24v24H0z"></path>
            <path fill="#fff" d="M2.01 21 23 12 2.01 3 2 10l15 2-15 2z"></path>
          </svg>
        </button>
      </div>
    </form>

  </div>

  <script src="../socket.io/socket.io.js"></script>
  <script src="/scripts/tictactoe.js"></script>
{% endblock %}
