{% extends "./layouts/layout.html" %} {% block body %}
  <section class="h-max flex flex-col justify-start items-start md:px-12 md:pl-12 md:w-2/4 md:justify-center md:items-center md:text-center md:gap-6">
    <h1 class="text-4xl font-bold text-green-600 mb-2 md:text-6xl">Duo gaming <span class="dark:text-green-50 text-black">platform</span></h1>
    <p class="text-xl text-gray-950 dark:text-white">Do you think you're good at Tic Tac Toe... Play with a friend on Tico today to test your capability</p>
    
    <button class="w-full p-2 text-center text-xl text-white bg-green-600 border-2 border-green-600 rounded-md mt-4 md:w-52 hover:bg-transparent hover:text-green-600" onclick="navigate('/games')">
      Play
    </button>
  </section>
{% endblock %}
