{% extends "layout.html" %} {% block body %}
  <section class="w-full h-max flex flex-col justify-start items-start">
    <h1 class="text-4xl font-bold text-indigo-600 mb-2">Play Games with Friends</h1>
    <p class="text-xl text-slate-950 dark:text-white">Do you think you're good at Tic Tac Toe... Play with a friend on Tripple toady to test your capability</p>
    
    <button class="w-full p-2 text-center text-xl text-white bg-indigo-600 rounded-md mt-4" onclick="navigate('create-join-room')">
      Get started
    </button>
  </section>
{% endblock %}
