<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Tico - Play with Friends</title>
  </head>
  <body class="bg-green-50 dark:bg-green-900 dark:text-white scroll-smooth w-full min-h-screen overflow-x-hidden">

    <nav class="fixed top-0 z-50 left-0 w-full h-20 flex justify-between items-center gap-4 bg-green-50 text-zinc-900 dark:bg-zinc-900 dark:text-white shadow-xl px-10 py-3">
      <a href="/">
        <h2 class="font-bold text-3xl text-green-600 md:ml-10">Tico</h2>
      </a>
      <div class="bar-container flex flex-col justify-end items-end ml-auto md:hidden" onclick="toggleMenu(this, navContent)">
        <div class="bar1 bg-green-600"></div>
        <div class="bar2 bg-green-600"></div>
        <div class="bar3 bg-green-600"></div>
      </div>

      <!-- Navigation -->
      <ul class="hidden w-max ml-auto md:flex justify-center gap-4">
        <a class="text-lg hover:text-green-600 transition-all" href="/create-join-room">Create/join room</a>
        <a class="text-lg hover:text-green-600 transition-all" href="/coming_soon">Games</a>       
        <a class="text-lg hover:text-green-600 transition-all" href="/nothing">Last week</a>        <a class="text-lg hover:text-green-600 transition-all" href="/https://github.com/Sydney205/TTT-multiplayer/contribute">Contribute</a>
      </ul>
        
      <!-- Side Navigation bar -->
      <div class="absolute top-20 z-50 bg-green-50 dark:bg-zinc-900 h-53 w-4/5 p-4 flex flex-col gap-4 shadow-xl md:hidden" id="navContent">
      <a class="text-zinc-900 dark:text-white decoration-none text-xl hover:underline hover:text-green-600" href="/create-join-room">
        Create/Join room
      </a>
      <a class="text-zinc-900 dark:text-white decoration-none text-xl hover:underline hover:text-green-600" href="https://github.com/Sydney205/Tico#contribution">
        Contribute
      </a>
      <a class="text-zinc-900 dark:text-white decoration-none text-xl hover:underline hover:text-green-600" href="/coming_soon">
        Games
      </a>
      <a class="text-zinc-900 dark:text-white decoration-none text-xl hover:underline hover:text-green-600" href="/nothing">
        Last week
      </a>
    </div>
    </nav>
    
    
    
    <div class="min-h-screen w-full flex flex-col justify-center items-center bg-green-50 text-zinc-900 dark:bg-zinc-900 dark:text-white px-4 overflow-x-hidden">
    
      <!-- Body Content -->
      {% block body %}{% endblock %}
      <!-- Body Content -->
      
    </div>
    
    <script src="/scripts/index.js"></script>
  </body>
</html>
