{% extends "../layouts/gameLayout.html" %}

{% block gameLayout %}
  <div class="mb-4 bg-green-600 text-white p-4 px-10 rounded-md shadow-lg">
    <div class="flex justify-center gap-10">
      <p class="text-2xl font-bold">X</p>
      <p class="text-2xl font-bold text-black">VS</p>
      <p class="text-2xl font-bold">O</p>
    </div>
    <div class="flex justify-center gap-12 mt-2">
      <div id="xScores" class="text-2xl font-bold"></div>
      <div class="text-2xl">---</div>
      <div id="yScores" class="text-2xl font-bold"></div>
    </div>
  </div>

  <div>
    {% for i in range(64) %}
      <button></button>
    {% endfor %}
  </div>
{% endblock %}
