{% extends "../layouts/gameLayout.html" %}

{% block gameLayout %}
  <!-- <div class="mb-4 bg-green-600 text-white p-4 px-10 rounded-md shadow-lg"> -->
  <!--   <div class="flex justify-center gap-10"> -->
  <!--     <p class="text-2xl font-bold">White</p> -->
  <!--     <p class="text-2xl font-bold">V<span class="text-black">S</span></p> -->
  <!--     <p class="text-2xl font-bold text-black">Black</p> -->
  <!--   </div> -->
  <!--   <div class="flex justify-center gap-12 mt-2"> -->
  <!--     <div id="xScores" class="text-2xl font-bold"></div> -->
  <!--     <div class="text-2xl">---</div> -->
  <!--     <div id="yScores" class="text-2xl font-bold"></div> -->
  <!--   </div> -->
  <!-- </div> -->

  <div class="grid grid-cols-8 ">
    <div id="0" class="squares greenSquare"></div>
    <div id="1" class="squares whiteSquare"></div>
    <div id="2" class="squares greenSquare"></div>
    <div id="3" class="squares whiteSquare"></div>
    <div id="4" class="squares greenSquare"></div>
    <div id="5" class="squares whiteSquare"></div>
    <div id="6" class="squares greenSquare"></div>
    <div id="7" class="squares whiteSquare"></div>

    <div id="8" class="squares whiteSquare"></div>
    <div id="9" class="squares greenSquare"></div>
    <div id="10" class="squares whiteSquare"></div>
    <div id="11" class="squares greenSquare"></div>
    <div id="12" class="squares whiteSquare"></div>
    <div id="13" class="squares greenSquare"></div>
    <div id="14" class="squares whiteSquare"></div>
    <div id="15" class="squares greenSquare"></div>

    <div id="16" class="squares greenSquare"></div>
    <div id="17" class="squares whiteSquare"></div>
    <div id="18" class="squares greenSquare"></div>
    <div id="19" class="squares whiteSquare"></div>
    <div id="20" class="squares greenSquare"></div>
    <div id="21" class="squares whiteSquare"></div>
    <div id="22" class="squares greenSquare"></div>
    <div id="23" class="squares whiteSquare"></div>

    <div id="24" class="squares whiteSquare"></div>
    <div id="25" class="squares greenSquare"></div>
    <div id="26" class="squares whiteSquare"></div>
    <div id="27" class="squares greenSquare"></div>
    <div id="28" class="squares whiteSquare"></div>
    <div id="29" class="squares greenSquare"></div>
    <div id="30" class="squares whiteSquare"></div>
    <div id="31" class="squares greenSquare"></div>

    <div id="32" class="squares greenSquare"></div>
    <div id="33" class="squares whiteSquare"></div>
    <div id="34" class="squares greenSquare"></div>
    <div id="35" class="squares whiteSquare"></div>
    <div id="36" class="squares greenSquare"></div>
    <div id="37" class="squares whiteSquare"></div>
    <div id="38" class="squares greenSquare"></div>
    <div id="39" class="squares whiteSquare"></div>

    <div id="40" class="squares whiteSquare"></div>
    <div id="41" class="squares greenSquare"></div>
    <div id="42" class="squares whiteSquare"></div>
    <div id="43" class="squares greenSquare"></div>
    <div id="44" class="squares whiteSquare"></div>
    <div id="45" class="squares greenSquare"></div>
    <div id="46" class="squares whiteSquare"></div>
    <div id="47" class="squares greenSquare"></div>

    <div id="48" class="squares greenSquare"></div>
    <div id="49" class="squares whiteSquare"></div>
    <div id="50" class="squares greenSquare"></div>
    <div id="51" class="squares whiteSquare"></div>
    <div id="52" class="squares greenSquare"></div>
    <div id="53" class="squares whiteSquare"></div>
    <div id="54" class="squares greenSquare"></div>
    <div id="55" class="squares whiteSquare"></div>

    <div id="56" class="squares whiteSquare"></div>
    <div id="57" class="squares greenSquare"></div>
    <div id="58" class="squares whiteSquare"></div>
    <div id="59" class="squares greenSquare"></div>
    <div id="60" class="squares whiteSquare"></div>
    <div id="61" class="squares greenSquare"></div>
    <div id="62" class="squares whiteSquare"></div>
    <div id="63" class="squares greenSquare"></div>
  </div>
  
  <script src="../socket.io/socket.io.js"></script>
  <script src="/scripts/chess.js"></script>
{% endblock %}
