{% extends "../layouts/gameLayout.html" %}

{% block gameLayout %}
  <div class="mb-4 bg-Tgreen text-white p-4 px-10 rounded-md shadow-lg">
    <div class="flex justify-center gap-10">
      <p class="text-2xl font-bold">X</p>
      <p class="text-2xl font-bold text-black">VS</p>
      <p class="text-2xl font-bold">O</p>
    </div>
    <div class="flex justify-center gap-12 mt-2">
      <div id="xScores" class="text-2xl font-bold"></div>
      <div class="text-2xl">---</div>
      <div id="yScores" class="text-2xl font-bold"></div>
    </div>
  </div>
  
  <div id="boardContainer" class="mx-auto grid grid-cols-3 gap-2 dark:text-white text-dark md:w-max scale-90">
    {% for i in range(9) %}
    <button 
      class="cells w-24 h-24 flex justify-center items-center p-2 border-2 border-Tgreen bg-transparent text-2xl transition-transform transform hover:border-black dark:hover:border-white disabled:hover:border-Tgreen"
      id="cell_{{ i }}"
    ></button>
    {% endfor %}
  </div>

  <p id="comment" class="text-yellow-800 font-bold text-lg mt-4 text-center"></p>
  <div class="flex justify-center mt-4">
    <button id="restartButton" class="px-6 py-2 bg-Tgreen text-white rounded-md shadow hover:bg-green-700">Play Again</button>
  </div>

  <script src="../socket.io/socket.io.js"></script>
  <script src="/scripts/games/tictactoe.js"></script>
{% endblock %}

