#messages { display: none; }

.purpleSquare { background-color: rgb(109 100 229); }

.whiteSquare { background-color: whitesmoke; }

.squares {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 5px; 
}

/* Mobile viewports */
@media (max-width: 768px) {
  /* .squares { */
  /*   padding: 1rem; */
  /* } */
}
